@model PageViewModel<repos.Models.Pages.CasePage>
<div class="container-fluid">
    <div class="row myPage">
        <div class="epiText">
            <h2>@Html.PropertyFor(x => x.CurrentPage.Title)</h2>
            @Html.PropertyFor(x => x.CurrentPage.MainBody)
        </div>
    </div>
</div>
<h2 class="related"> Releated Content </h2>
@Html.PropertyFor(m => m.CurrentPage.RelatedContentLinks)