.bod {
    background-image: url(https://i.pinimg.com/originals/b6/fe/0c/b6fe0c5fd3c211e729aabeca0597fa0e.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.related {
    background-image: url(https://i.gifer.com/S441.gif);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}

.epiText {
    font-size: 50px;
    text-align: center;
    background-image: url(https://i.gifer.com/S441.gif);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}

.links {
    color: white;
}

a {
    background-image: url(https://i.gifer.com/S441.gif);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}